<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Game/Pic/evemy_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1},{256,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,63}</string>
			</dict>
			<key>Game/Pic/gold_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,80},{256,52}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,63}</string>
			</dict>
			<key>Game/Pic/turret_solt.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1},{258,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,77}</string>
			</dict>
			<key>Game/Pic/playerLevel_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,197},{205,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,90}</string>
			</dict>
			<key>Game/Pic/exp_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,168},{145,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,36}</string>
			</dict>
			<key>Game/Pic/box.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,600},{59,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>
			<key>Game/Pic/boxPre.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,248},{45,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>
			<key>Game/Pic/setBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,463},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Game/Pic/setBtnSeclted.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,539},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Game/Pic/power.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,168},{155,37}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,37}</string>
			</dict>
			<key>Game/Pic/addBtnSeclted.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,282},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Game/Pic/subBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,317},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Game/Pic/subBtnSeclted.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,325},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Game/Pic/addBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,283},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Game/Pic/boomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,1},{194,86}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,88}</string>
			</dict>
			<key>Game/Pic/boombPre.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,80},{194,86}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,88}</string>
			</dict>
			<key>Game/Pic/redDot.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,318},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>Game/Pic/buy_task.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{126,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,163}</string>
			</dict>
			<key>Game/Pic/buyBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,539},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>Game/Pic/buyBtnPre.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,631},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>Game/Pic/boombBullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,282},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>Game/Pic/golds.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,296},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>Game/Pic/boomb_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,259},{278,46}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,46}</string>
			</dict>
			<key>Game/Pic/buyBtnAtOnce.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,129},{129,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,48}</string>
			</dict>
			<key>Game/Pic/buyBtnAtOncePre.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,168},{129,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,48}</string>
			</dict>
			<key>Game/Pic/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,318},{24,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,22}</string>
			</dict>
			<key>Game/Pic/closeBtnPre.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,331},{24,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,22}</string>
			</dict>
			<key>Game/Pic/daoju_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,129},{278,46}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,46}</string>
			</dict>
			<key>Game/Pic/gold_.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,338},{80,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,57}</string>
			</dict>
			<key>Game/Pic/gold_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,129},{278,46}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,46}</string>
			</dict>
			<key>Game/Pic/hotline1.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,197},{286,10}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,23}</string>
			</dict>
			<key>Game/Pic/hotline2.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,463},{148,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,21}</string>
			</dict>
			<key>Game/Pic/sngle_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1},{162,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,213}</string>
			</dict>
			<key>Game/Pic/twoPanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{233,162}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,164}</string>
			</dict>
			<key>Game/Pic/fish_icon_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,259},{38,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,17}</string>
			</dict>
			<key>Game/Pic/fish_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,420},{67,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,50}</string>
			</dict>
			<key>Game/Pic/fish_icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,216},{64,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,30}</string>
			</dict>
			<key>Game/Pic/fish_icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,260},{43,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,34}</string>
			</dict>
			<key>Game/Pic/fish_icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,404},{57,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,68}</string>
			</dict>
			<key>Game/Pic/fish_icon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,216},{64,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,28}</string>
			</dict>
			<key>Game/Pic/fishBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,216},{64,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,24}</string>
			</dict>
			<key>Game/Pic/fishTaskBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,315},{123,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game.png</string>
			<key>realTextureFileName</key>
			<string>Game.png</string>
			<key>size</key>
			<string>{1024,722}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>722</integer>
		</dict>
	</dict>
</plist>