# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.tlog
*.exp
*.idb
*.cmake
/CrazyFram/cocos2d
/CrazyFram/proj.android-studio
/CrazyFram/proj.ios_mac
/CrazyFram/proj.linux
/CrazyFram/proj.win8.1-universal
/CrazyFram/proj.win10
/CrazyFram/proj.win32



