<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>title</key>
    <string>游戏结束</string>
    <!-- 玩家等级 Begin-->
    <key>playerLevel1</key>
    <string>捕鱼达人</string>
    <key>playerLevel2</key>
    <string>捕鱼达人</string>
    <key>playerLevel3</key>
    <string>捕鱼达人</string>
    <key>playerLevel4</key>
    <string>捕鱼达人</string>
    <key>playerLevel5</key>
    <string>捕鱼达人</string>
    <key>playerLevel6</key>
    <string>捕鱼达人</string>
    <key>playerLevel7</key>
    <string>捕鱼达人</string>
    <key>playerLevel8</key>
    <string>捕鱼达人</string>
    <key>playerLevel9</key>
    <string>捕鱼达人</string>
    <key>playerLevel10</key>
    <string>捕鱼达人</string>

    <key>playerLevel11</key>
    <string>捕鱼达人</string>
    <key>playerLevel12</key>
    <string>捕鱼达人</string>
    <key>playerLevel13</key>
    <string>捕鱼达人</string>
    <key>playerLevel14</key>
    <string>捕鱼达人</string>
    <key>playerLevel15</key>
    <string>捕鱼达人</string>
    <key>playerLevel16</key>
    <string>捕鱼达人</string>
    <key>playerLevel17</key>
    <string>捕鱼达人</string>
    <key>playerLevel18</key>
    <string>捕鱼达人</string>
    <key>playerLevel19</key>
    <string>捕鱼达人</string>
    <key>playerLevel20</key>
    <string>捕鱼达人</string>
    
    <key>playerLevel21</key>
    <string>捕鱼达人</string>
    <key>playerLevel22</key>
    <string>捕鱼达人</string>
    <key>playerLevel23</key>
    <string>捕鱼达人</string>
    <key>playerLevel24</key>
    <string>捕鱼达人</string>
    <key>playerLevel25</key>
    <string>捕鱼达人</string>
    <key>playerLevel26</key>
    <string>捕鱼达人</string>
    <key>playerLevel27</key>
    <string>捕鱼达人</string>
    <key>playerLevel28</key>
    <string>捕鱼达人</string>
    <key>playerLevel29</key>
    <string>捕鱼达人</string>
    <key>playerLevel30</key>
    <string>捕鱼达人</string>

    <key>playerLevel31</key>
    <string>捕鱼达人</string>
    <key>playerLevel32</key>
    <string>捕鱼达人</string>
    <key>playerLevel33</key>
    <string>捕鱼达人</string>
    <key>playerLevel34</key>
    <string>捕鱼达人</string>
    <key>playerLevel35</key>
    <string>捕鱼达人</string>
    <key>playerLevel36</key>
    <string>捕鱼达人</string>
    <key>playerLevel37</key>
    <string>捕鱼达人</string>
    <key>playerLevel38</key>
    <string>捕鱼达人</string>
    <key>playerLevel39</key>
    <string>捕鱼达人</string>
    <key>playerLevel40</key>
    <string>捕鱼达人</string>
    <!-- 玩家等级 Ended-->
    
    
    
    
    <!-- 任务部分 Begin-->
    <key>task1</key>
    <string>2分钟内捕获10条</string>
    <!-- 任务部分 Ended-->
    <!--登陆奖励 Begin-->
    <key>day1</key>
    <string>第一天</string>
    <key>day2</key>
    <string>第二天</string>
    <key>day3</key>
    <string>第三天</string>
    <key>day4</key>
    <string>第四天</string>
    <key>day5</key>
    <string>第五天</string>
    <key>day6</key>
    <string>第六天</string>
    <key>day7</key>
    <string>第七天</string>
    <!--登陆奖励 Ended-->
    
    <!--GameTips-->
    <key>tipsInfo1</key>
    <string>游戏累计5分钟就送1000金币，还有机会获取实物大奖</string>
    
  </dict>
</array>
</plist>