<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Game/Pic/evemy_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,361},{256,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,63}</string>
			</dict>
			<key>Game/Pic/gold_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,82},{256,52}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,63}</string>
			</dict>
			<key>Game/Pic/turret_solt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{258,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,77}</string>
			</dict>
			<key>Game/Pic/playerLevel_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1},{205,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,90}</string>
			</dict>
			<key>Game/Pic/exp_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,40},{145,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,36}</string>
			</dict>
			<key>Game/Pic/box.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,284},{59,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>
			<key>Game/Pic/boxPre.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,284},{45,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>
			<key>Game/Pic/setBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,162},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Game/Pic/setBtnSeclted.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,223},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Game/Pic/power.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1},{155,37}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,37}</string>
			</dict>
			<key>Game/Pic/addBtnSeclted.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,202},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Game/Pic/subBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,242},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Game/Pic/subBtnSeclted.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,282},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Game/Pic/addBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,322},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Game/Pic/boomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,425},{194,86}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,88}</string>
			</dict>
			<key>Game/Pic/boombPre.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,165},{194,86}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,88}</string>
			</dict>
			<key>Game/Pic/redDot.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,331},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>Game/Pic/buy_task.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{126,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,163}</string>
			</dict>
			<key>Game/Pic/buyBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,136},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>Game/Pic/buyBtnPre.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,136},{90,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,24}</string>
			</dict>
			<key>Game/Pic/boombBullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,162},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>Game/Pic/golds.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,202},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game.png</string>
			<key>realTextureFileName</key>
			<string>Game.png</string>
			<key>size</key>
			<string>{492,620}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>492</integer>
			<key>height</key>
			<integer>620</integer>
		</dict>
	</dict>
</plist>