<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Prop/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,258},{34,116}}</string>
                <key>offset</key>
                <string>{2,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{34,116}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,230},{46,196}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{46,196}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{50,276}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{50,276}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{50,276}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{50,276}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,132},{50,276}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{50,276}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,184},{50,276}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{50,276}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,236},{38,268}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{38,268}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,230},{28,260}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{28,260}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,236},{20,258}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{20,258}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{14,250}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,33},{14,250}}</string>
                <key>sourceSize</key>
                <string>{94,322}</string>
            </dict>
            <key>Prop/firez100.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,460},{42,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,43},{42,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/firez101.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,376},{82,94}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{82,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/firez102.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,258},{94,106}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{94,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/firez103.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{114,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{114,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/firez104.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,260},{124,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/firez105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/firez106.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{128,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/firez107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{126,126}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/firez108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{128,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prop/propFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,127},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{102,101}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>Prop/propRedPaper.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{112,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,123}}</string>
                <key>sourceSize</key>
                <string>{112,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Prop.png</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0958b021d038e14a9c5c7784f2cad497:52ae1e3119ae81b7eb8166d3a9547ca3:d5209391d908d4a443c6914a49567d65$</string>
            <key>textureFileName</key>
            <string>Prop.png</string>
        </dict>
    </dict>
</plist>
